/* reset */

img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  line-height: 3.5;
}
/* bootstrap structure */
.container {
  height: 100vh;
}
.row {
  height: 100%;
}
.chats {
  background-color: rgb(52, 52, 25);
  height: 100%;
}

.current-chat {
  background-image: url(https://theabbie.github.io/blog/assets/official-whatsapp-background-image.jpg);
  background-size: cover;
  height: 100%;
}

.chats-header {
  width: 100%;
  height: 60px;
  background-color: blueviolet;
}
.current-chat-header {
  width: 100%;
  height: 60px;
  background-color: blueviolet;
}

.right-header {
  width: 100px;
}
.chat-footer {
  height: 60px;
  background-color: blue;
}
.chat-main {
  height: calc(100% - 60px - 60px);
}

.enter-message {
  width: 80%;
}
.chats-content {
  height: calc(100% - 60px);
  overflow: auto;
}
