/* reset */
* {
  margin: 0;
  padding: 0;
}
img {
  border-radius: 50%;
  max-height: 90%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  line-height: 3.5;
  padding-left: 0;
}

/* bootstrap structure */
.container {
  height: 100vh;
}
.row {
  height: 100%;
}
.chats {
  height: 100%;
}

.current-chat {
  background-image: url(https://theabbie.github.io/blog/assets/official-whatsapp-background-image.jpg);
  background-size: cover;
  height: 100%;
}

.chats-header {
  width: 100%;
  height: 60px;
  padding: 5px 10px;
  background-color: #eaeaea;
}
.current-chat-header {
  width: 100%;
  height: 60px;
  padding: 5px 10px;
  background-color: #eaeaea;
}

.right-header {
  width: 100px;
}
.chat-footer {
  height: 60px;
  background-color: #eaeaea;
}
.chat-main {
  height: calc(100% - 60px - 60px);
  overflow: auto;
}

.enter-message {
  width: 80%;
}
.chats-content {
  height: calc(100% - 60px);

  overflow: auto;
}
.notification {
  height: 70px;
  background-color: #8edafc;
  line-height: 1.2;
  padding: 0.5rem 0 0 0.5rem;
}
.intestazione-chats {
  height: 80px;
  line-height: 1.2;
  padding: 1rem 0 0 1rem;
}
li > img {
  max-width: 20%;
}
.bell {
  color: #8edafc;
  background-color: white;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5;
  font-size: 20px;
}

.received {
  background-color: white;
}
.sent {
  background-color: #d5f9ba;
}

.search-bar {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.search-bar > button {
  width: 20%;
  border: 1px solid #eaeaea;
  background-color: white;
  color: #b1b1b1;
}

i {
  font-size: 23px;
}
.emoji,
.audio {
  width: 80px;
}
